<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form id="form">

        <input type="submit" value="Comprar"/>
</form>
    

    
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const mp = new MercadoPago('APP_USR-d1e7f8c6-3d75-4f58-82d2-efadbec103ae');

            document.getElementById("form").addEventListener("submit", async (e) => {
                e.preventDefault();
                
                const cardToken = await mp.createCardToken({
                    cardNumber: '4235647728025682',
                    cardholderName: 'APRO',
                    cardExpirationMonth: '11',
                    cardExpirationYear: '2025',
                    securityCode: '123',
                    identificationType: 'CPF',
                    identificationNumber: '37088477092',
                });
                const id = cardToken.id;

                const data = await axios.post("https://bebc-179-251-22-59.ngrok.io/api/plans/1/approval/", {
                    "card_token_id": id,
                }, {
                    headers: {
                        'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ5MDEzNDkwLCJpYXQiOjE2NDkwMTMxOTAsImp0aSI6ImU1YzMwOWFiMGMxMjRmMjdiOTM5N2Y2MTJjODk2NDgyIiwidXNlcl9pZCI6MX0.n6qbuBII2QI6VWCAkhJfxqz0c2PgEOcen9Si3-nI1i4'
                    }
                });
                console.log(data);

            });
        });
    </script>
</body>
</html>