<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/api/payments/checkout/" method="post">
      {% csrf_token %}

      <input type="hidden" name="plan_id" value="1" />
      <input type="hidden" name="user_id" value="1" />

      <input type="submit" value="Ir" />
    </form>

    <h2>Manage</h2>
    <form action="/api/payments/manage/" method="post">
      {% csrf_token %}
      <input type="hidden" name="approval_id" value="5" />
      <input type="submit" value="Ir" />
    </form>
  </body>
</html>
